$main-color-back:  #bbbfb9;
$main-color-white: #fff;
$main-color-alternative: #b7b7b7;
$task-color:  #e5daab;
$header-color:  #5a5c59;
$main-color-black: #000000;
$shadow-color: #00000055;
$color-comleted-green: green;


$media_xxl: 1400px;
$media_lg: 992px;
$media_md: 768px;